---
import Box from "@/components/partials/Box.astro";
---

<Box title="Input Prompt" variant="minimal" icon="seti:python">
	<p>
		This code snippet uses the <code>input()</code> function. It will prompt
		for an input value.
	</p>
</Box>
