:root {
	--sl-font: "Noto Sans Devanagari Variable", "Noto Sans Variable", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--sl-font);
}

main {
	letter-spacing: 0.02rem;
	line-height: 1.6;
}

:root[data-theme="dark"] {
	.img-invertable {
		img {
			filter: invert(1);
			-webkit-filter: invert(1);
		}
	}
	.figure-light {
		display: none !important;
	}
}

:root[data-theme="light"] {
	.img-reverse-invertable {
		img {
			filter: invert(1);
			-webkit-filter: invert(1);
		}
	}
	.figure-dark {
		display: none !important;
	}
}

.img-half-width {
	img {
		width: 50%;
	}
}

@media (max-width: 800px) {
	.img-half-width {
		img {
			width: 100%;
		}
	}
}

.img-full-width {
	img {
		width: 100%;
	}
}

/* https://github.com/withastro/starlight/issues/2511 */
.katex-html svg {
	height: inherit;
}
