:root {
	--sl-font: "Noto Sans Devanagari Variable", "Noto Sans Variable", sans-serif;
	/* --sl-color-text: var(--sl-color-gray-1); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--sl-font);
}

main {
	letter-spacing: 0.02rem;
	line-height: 1.6;
}

p:not(.title) {
	text-align: justify;
}
