---
interface Props {
	description?: string;
	href?: string;
	title: string;
	class?: string;
}

const { class: className, description, href, title } = Astro.props;

const Element = href ? "a" : "div";
---

<div class:list={["not-content sl-flex", className]}>
	<Element {href} class="media-card">
		<div class="media-asset">
			<slot />
		</div>
		<div class="media-infos sl-flex">
			<p class="media-title">{title}</p>
			{description && <p class="media-description">{description}</p>}
		</div>
	</Element>
</div>

<style>
	.media-card {
		border: 1px solid var(--sl-color-gray-5);
		border-radius: 0.5rem;
		box-shadow: var(--sl-shadow-sm);
		overflow: hidden;
		text-decoration: none;
		width: 100%;
	}

	a.media-card:hover {
		background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
		border-color: var(--sl-color-gray-2);
	}

	.media-asset :global(img) {
		aspect-ratio: 1/1;
		height: 200px;
		max-height: 200px;
		width: 100%;
		max-width: 100%;
		object-fit: contain;
	}

	.media-infos {
		border-top: 1px solid var(--sl-color-gray-5);
		flex-direction: column;
		gap: 0.5rem;
		padding: 0.75rem 1rem;
	}

	.media-title {
		color: var(--sl-color-white);
		font-size: var(--sl-text-base);
		font-weight: 600;
		line-height: var(--sl-line-height-headings);
	}

	.media-description {
		color: var(--sl-color-gray-3);
		line-height: 1.5;
	}
</style>
