---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div>
	<center>
		<strong>
			<span set:html={title} />
		</strong>
	</center>
</div>

<style>
	div {
		border: 1px solid var(--sl-color-gray-5);
		padding: 0.5rem;
		background-color: var(--sl-color-gray-6);
		font-size: var(--sl-text-xs);
	}
</style>
